<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_accessrecords</h1>

        <table border="3px">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
            </tr>

        {% for ao in webpages %}
            <tr>
                <td>{{ao.name}}</td>
                <td>{{ao.url}}</td>
                <td>{{ao.email}}</td>
            </tr>
        {% endfor %}



         </table>
    </center>
</body>
</html>
